<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="at.nucle.e4.preferences.example"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/at.nucle.e4.preferences.example/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         point="at.nucle.e4.plugin.preferences">
      <page
            class="at.nucle.e4.preferences.example.preferences.RootPreference"
            id="page_root"
            order="1"
            title="Root Page">
      </page>
      <page
            category="page_root"
            class="at.nucle.e4.preferences.example.preferences.SubPreference"
            id="page_sub_one"
            order="2"
            title="Sub Page">
      </page>
   </extension>
   <extension
         point="at.nucle.e4.plugin.preference.scope">
      <scope
            class="at.nucle.e4.preferences.example.preferences.InstanceStoreScope"
            pugin_id="at.nucle.e4.preferences.example">
      </scope>
   </extension>

</plugin>
